#interview-instructions {
  border-radius: 1rem;
  padding: 3rem;

  width: 25rem;
  height: fit-content;
  box-sizing: border-box;

  background-color: var(--gray-background);

  color: var(--indigo-600);
}

#interview-instructions header {
  margin-bottom: 4.4rem;
}

#interview-instructions header h2 {
  color: var(--indigo-700);
  font-weight: 700;

  margin-bottom: 0.8rem;
}

#interview-instructions dt {
  color: var(--indigo-700);
  font-weight: 500;
  font-size: 1.8rem;

  margin-bottom: 1.6rem;
}

#interview-instructions dd {
  font-weight: 400;
  font-size: 1.4rem;

  margin-bottom: 4rem;
}

#interview-instructions dd:last-child {
  margin-bottom: 0;
}
