body {
  overflow-y: hidden;
  min-width: 130rem;
}

#apply {
  display: flex;

  justify-content: space-between;

  gap: 4rem;
}

#apply #interview-instructions {
  transform: scale(0.9);
}

#apply #questions {
  height: 100%;

  margin-top: 4rem;
  padding-bottom: 8rem;

  overflow-y: auto;
}

#apply #questions::-webkit-scrollbar {
  width: 0.5rem;
}

#apply #questions .question {
  margin-inline: 6rem;

  .scores {
    width: 130%;
  }
}
