body {
  background-image: url(../../assets/images/bg-countdown.jpg);
  background-position: center 70%;
  background-size: cover;
  background-repeat: no-repeat;
}

.cd-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  padding: 10rem 0 7rem;
}

.cd-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.5em;
}
p {
  font-size: 0.7em;
}
.cd-count {
  display: flex;
  flex-direction: column;
  align-items: center;
}

}

.count {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}

.count-container {
  width: 3.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count-container > h1 {
  font-size: 3em;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2em;
  }
  .count-container {
    width: 5em;
  }
  .count {
    gap: 1.5em;
  }
  .count-container > h1 {
    font-size: 4em;
  }
  p {
    font-size: 0.8em;
  }
}
