.badge {
  position: relative;
  width: fit-content;

  color: var(--purple-400);

  padding-block: 0.8rem;
  padding-inline: 1.6rem;

  border-radius: 9999px;

  background: linear-gradient(180deg, #fafbfb, #f7f8fd);
}

.badge::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 0.1em;
  border-radius: inherit;

  background: linear-gradient(180deg, var(--indigo-100), var(--indigo-200));
  --m: conic-gradient(#000 0 0);
  mask:
    var(--m) content-box exclude,
    var(--m);
  pointer-events: none;
}
