body {
  background-image: url(../../assets/images/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

button {
  font-family: Space Grotesk;
  padding: 0.5rem 1rem;
  background-color: var(--purple-white);
  border: var(--purple-300) solid 0.25rem;
  border-radius: 1.8rem;
  font-weight: 500;
  color: var(--purple-400);
  cursor: var(--cursor-pointer);
  transition:
    background-color 0.3s ease-in-out,
    transform 0.4s ease-in-out;
}

button:hover {
  background-color: var(--purple-300);
  color: var(--purple-white);
  cursor: var(--cursor-pointer);
  border: 3px solid #9676f0;
  transform: scale(0.95);
}

button:active {
  transform: scale(0.85);
  background-color: var(--purple-white);
  color: var(--purple-400);
  border: var(--purple-400) solid 1px;
  cursor: var(--cursor-pointer);
}

input {
  cursor: var(--cursor-default);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3.6rem;
}

main h1 {
  color: #fff;
  font-weight: 400;
}

h2 {
  font-size: larger;
  color: var(--purple-400);
  margin: 0;
}

.modal p {
  font-size: medium;
}

form label {
  font-weight: 500;
  color: var(--purple-400);
}

input[type='file'] {
  display: none;
}

.file-name {
  cursor: var(--cursor-pointer);
  align-content: center;
  padding: 0 1rem;
}

form input,
form select {
  padding: 0 1.6rem;
  box-sizing: content-box;
}

form input,
.file-name,
textarea,
form select {
  background-color: var(--background-input);
  color: var(--gray);
  height: 3rem;
  font-family: Space Grotesk;
  margin-top: 0.75rem;
  border-radius: 1.28rem;
  border: solid var(--purple-white) 0.16rem;
  border: 0.16rem solid rgba(92, 0, 164, 0.11);
  resize: none;
  text-overflow: ellipsis;
}

.filled {
  color: #3d3d3d;
  font-weight: 550;
  background-color: var(--background-input-filled);
}

label.error {
  color: red;

  animation: shake 0.5s;
}

label.error input,
label.error select,
label.error textarea {
  border: 1px solid red;
}

textarea {
  display: flex;
  height: 100%;
  min-height: 8rem;
  padding: 0.5rem 1rem;
  box-sizing: content-box;
  border-radius: 1.125rem;
}

#section3 textarea {
  min-height: 13.25rem;
}

textarea:focus,
form input:focus,
.password-container:focus-within,
form select:focus {
  border-color: var(--purple-light);
  outline: none;
}

p {
  color: var(--gray);
  font-weight: 300;
  width: 100%;
  margin: 0;
}

footer {
  height: 20%;
}

.menu {
  background: var(--indigo-700);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: clamp(50em, 100%, 100em);
  box-sizing: border-box;
  padding: 0.7em 0.5em;
  border-radius: 30px;
}

.profile {
  border: solid #fff 1px;
  background: var(--purple-profile);
  width: 150px;
  border-radius: 30px;
}

.back {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 0.8em;
  gap: 3px;
}

.img-arrow {
  width: 1.5em;
  height: auto;
}

.icons {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.img-lawd {
  width: 4.5em;
  height: auto;
}

.img-icon {
  width: 2.5em;
  height: auto;
}

/* TODO fazer arquivo próprio para o css de login */
.password {
  font-size: 0.7em;
  text-align: right;
  font-weight: 400;
  text-decoration: underline;
  color: var(--purple-400);
}

.password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-input);
  border: solid var(--purple-white) 2px;
  border-radius: 10px;
}

.password-container input {
  width: 100%;
  border: none;
}

.password-visibility {
  width: 20px;
  padding-right: 10px;
  cursor: var(--cursor-pointer);
}

header {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  align-items: center;
}

.navbar {
  border-radius: 5rem;
  border: 1px solid #fff;
  display: flex;
  width: 68.9rem;
  padding: 1rem 2.4rem;
  justify-content: space-between;
  align-items: center;
  margin: 0 4.48rem 3.2rem;
}

header a {
  position: absolute;
  left: 10%;
  top: 9%;
}

.navbar p {
  color: #ffffff;
}

.navbar .img-lawd {
  width: 3em;
  height: auto;
}

.navbar .img-icon {
  width: 1.5em;
  height: auto;
}

.registerScreen {
  background-color: #fff;
  overflow: hidden;
  border-radius: 5rem;
  width: 100%;
  max-width: 75rem;
  animation: opening 450ms ease-in-out backwards;
}

@keyframes opening {
  from {
    opacity: 0;
    transform: translateY(10%);
    transform: scale(0.9);
  }

  to {
    opacity: 100;
    transform: translateY(0);
    transform: scale(1);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.opening {
  animation: opening 400ms ease-in-out;
}

.closing {
  animation: closing 200ms ease-in-out;
}

@keyframes closing {
  from {
    opacity: 100;
    transform: translateY(0);
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: translateY(10%);
    transform: scale(0.9);
  }
}

.registerScreen h1 {
  color: var(--purple-400);
  font-weight: bold;
}

.section-type {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.section-type p {
  margin: 0;
  color: var(--purple-400);
  animation: move 500ms;
}

.section {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

hr {
  box-sizing: border-box;
  width: 3.2rem;
  border-style: dashed;
  border-color: #c2bfbf;
  margin: auto 0;
}

.icon-section {
  height: 3.3rem;
  width: 3.3rem;
  cursor: var(--cursor-pointer);
  border-radius: 50%;
  /* display: flex; */
  background-color: var(--purple-200);
  color: var(--purple-400);
  font-weight: bolder;
  border: var(--purple-300) solid 2.5008px;
  font-size: small;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  animation: opening 450ms ease-in-out 200ms backwards;
}

.icon-section:hover {
  background-color: #ada1d1;
  transform: scale(0.9);
}

.icon-section.active {
  background-color: var(--purple-400);
  color: var(--purple-white);
}

.section-inputs {
  padding: 4.2rem 5.2rem;
}

label {
  display: flex;
  flex-direction: column;
  cursor: var(--cursor-default);

  height: 100%;
}

label.show-animation {
  animation: move 500ms ease-in-out;
}

input,
select,
textarea {
  font-weight: 300;
  font-size: 1.4rem;
}

@keyframes move {
  from {
    opacity: 0;
    transform: translateX(-35%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes divs-section4 {
  from {
    opacity: 0;
    transform: translateY(15%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

span {
  color: var(--gray);
  font-weight: 400;
  font-size: smaller;
}

#section1 input[type='text'],
input[type='date'] {
  max-width: 80%;
}

#section1 input[type='number'] {
  width: 4rem;
}

#section4,
#section4-icon {
  display: none;
}

#pronoun {
  width: 80%;
}

select {
  width: 13em;
  cursor: var(--cursor-default);
}

.registerButton {
  background: #e8e0ff;
  border: 0.24rem solid #bba6f8;
  padding: 0 1.5rem;
  font-weight: bold;
  animation: opening 400ms ease-in-out 200ms backwards;
  height: 4rem;
}

.enrollment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 1.6rem;
  padding: 4.1rem 4.8rem 2.9rem;

  border-bottom: solid var(--purple-white) 0.0625rem;
  transition: border-bottom 0.4s ease-in-out;
}

.enrollment h1 {
  transition:
    opacity 0.4s ease-in-out,
    transform 0.4s ease-in-out;
}

form {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  min-height: 269px;
  width: 100%;
}

form .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
}

.column:nth-child(2) {
  /* margin-right: 2rem; */
  width: 400px;
}

.checkbox-group {
  margin-top: 4px;
}

.checkbox-label {
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  font-size: 1.4rem;
  cursor: var(--cursor-pointer);
  align-items: center;
  color: var(--gray);

  height: fit-content;
}

.checkbox-input {
  height: 38px;
  cursor: var(--cursor-pointer);
  accent-color: var(--purple-400);
  margin: auto 0;
}

dialog {
  border: none;
  padding: 0;
  border-radius: 38px;
  box-shadow: 0 4px 6px rgba(96, 0, 172, 0.14);
  backdrop-filter: blur(7px);

  margin: auto;
}

dialog::backdrop {
  background-color: rgba(61, 18, 97, 0.4);
}

.modal {
  height: 30rem;
  width: 30rem;
  padding: 1.875rem 1.25rem;
  border: none;
  border-radius: 2.375rem;
  gap: 1.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modal div {
  width: 100%;
  justify-content: center;
  display: flex;
  gap: 10px;
}

.modal img {
  width: 87px;
}

.second-button {
  background-color: var(--background-input);
  border-color: var(--purple-light);
}

.second-button:hover {
  background-color: var(--background-input-filled);
  color: var(--purple-400);
  border: 3px solid var(--purple-white);
  transform: scale(0.9);
}

#section4 {
  flex-direction: column;
  align-items: center;
  padding: 42px 42px;
}

#section4 div {
  display: flex;
}

#loving-doodle {
  max-width: 38rem;
  animation: opening 350ms ease-in-out backwards;
}

.register-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 36px;
  margin: auto;
  margin-left: 2rem;
}

.register-text {
  color: var(--purple-400);
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.625rem;
  font-style: normal;
  font-weight: 500;
}

.register-text:nth-child(1) {
  animation: divs-section4 350ms ease-in-out backwards;
  animation-delay: 400ms;
}

.register-text:nth-child(2) {
  animation: divs-section4 350ms ease-in-out backwards;
  animation-delay: 600ms;
}

.register-text img {
  width: 32px;
}

.continue {
  display: flex;
  justify-content: end;
  margin: 2rem;
  width: 100%;
  max-width: 75rem;
}

.buttons-container {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  gap: 3.3125rem;
  margin: 5rem 0 2rem 0;

  height: 4.8rem;
}

.buttons-container button {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  min-height: 48px;
  padding: 0.75rem 1.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0px 2px 4.6px 0px rgba(96, 0, 172, 0.14);
  animation: divs-section4 350ms ease-in-out backwards;
  animation-delay: 800ms;
}

.buttons-container img {
  width: auto;
}

.chatbot-button {
  width: 100%;
  max-width: 39rem;
  border: 0.1875rem solid #bba6f8;
  background: #e8e0ff;
}

.discord-button {
  width: 100%;
  max-width: 28rem;
  gap: 12px;
  border: 3px solid var(--purple-light);
  background: var(
    --stroke-4,
    linear-gradient(353deg, #7046e9 -259.29%, #bba6f8 211.39%)
  );

  color: #fff;
}

@media only screen and (max-width: 768px) {
  form {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 585px) {
  form {
    flex-wrap: wrap;
  }

  .enrollment,
  .section-type {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }

  .section-type,
  .section {
    align-items: center;
    justify-content: center;
  }

  .section-type {
    gap: 2.5rem;
    justify-content: space-between;
  }

  #section4 div {
    flex-direction: column;
  }

  .buttons-container {
    gap: 2.4rem;
  }

  .register-text-container {
    margin-left: 0;
  }
}

@media only screen and (max-width: 425px) {
  .section-inputs {
    padding: 42px 24px;
  }
}

@media only screen and (max-width: 375px) {
  main {
    padding: 1.6rem;
  }

  .section-type p,
  h2,
  form label {
    font-size: 1.6rem;
  }

  .navbar p {
    height: auto;
    width: 7.4rem;
  }

  .enrollment h1 {
    font-size: 2.4rem;
  }

  .continue {
    display: flex;
    justify-content: center;
    margin: 1em;
  }

  .registerButton {
    width: 100%;
  }
}
