# URL da API
API_URL=http://localhost:5000/api

# Estado da aplicação (define qual tela será renderizada na página inicial - home):
# - countdown: Tela de contagem regressiva para o início do processo
# - form: Tela com o formulário de inscrição
# - waiting-interviews: Tela informando que as inscrições acabaram e as entrevistas ainda não abriram
# - interview: Tela com as informações/direcionamento das entrevistas
# - end: Tela de encerramento do processo seletivo
PROCESS_STATE=countdown

# Horário de começo do countdown
PROCESS_START_DATE=2026-06-01T12:00:00

# Data de início e fim do período de Entrevistas
INTERVIEW_START_DATE=2026-06-22
INTERVIEW_END_DATE=2026-06-26
