body{
    background-image: none;
    background-color: var(--background-screens);
}

header{
    justify-content: center !important;
}
main{
    display: flex;
    align-items: center;
}

/*
visualização manual dos elementos

.content-application{
    display: none;
}
.content-about{
    display: none;
}
.content-result{
    display: none;
}

*/




@media (min-width: 1024px){
    .menu-interview{
        font-size: 1.1em;
        width: 25em;
    }
    .box{
        font-size: 1.2em;
    }
    .textarea{
        height: 9em;
    }
    .textarea_icon{
        left: 5em;
    }
    .step-click{
        width: 25px;
        height: 60px;
        margin-top: 0.5em;
    }
    .steps p, .obs p{
        font-size: 1em;
    }
    .icon-user-candidate{
        width: 50px;
        height: 50px;
    }
    .edit_icon{
        width: 20px;
        height: 20px;
    }
    
}

@media (min-width: 1440px){
    .obs, .steps{
        font-size: 0.9em;
        bottom: 4em;
    }
    .menu-interview{
        font-size: 1.2em;
    }
    .box{
        font-size: 1.3em;
    }
    .textarea_icon{
        left: 6em;
    }
    .step-click{
        margin-top: 0.5em;
        width: 40px;
        height: 70px;
    }
}