body{
    background-image: none;
    background-color: var(--background-screens);
}

header{
    justify-content: center !important;
}
main{
    display: flex;
    align-items: center;
}

.content-application{
    display: flex;
    flex-direction: row;
    width: clamp(47em, 95%, 80em);
    justify-content: space-between;
    gap: clamp(1em, 2em, 5em);
}

.obs, .steps{
    border-radius: 10px;
    padding: 3em;
    width: clamp(17em, 120em, 25em);
    height: 100%;
    box-sizing: border-box;
    position: relative;
    bottom: 5em;
}

.obs p, .steps p{
    margin-bottom: 2em;
}

.obs{
    background-color: var(--gray-background);
    font-size: 0.6em;
}

.steps{
    font-size: 0.6em;
}

.obs h1, .obs h3, .steps h1, .steps h3{
    color: var(--purple-menu);
    font-weight: bold;
}

.obs p, .steps p{
    color: var(--purple-p);
    font-weight: 500;
}

.step{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 0.5em;
}

.step-click{
    width: 15px;
    height: 40px;
    margin-top: 0.5em;
}

.steps p{
    font-size: 0.8em;
    font-weight: bold;
}

.interview{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(20em, 60%, 45em);
}
.menu-interview{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 0.2em;
    margin: 0;
    border-bottom: solid var(--purple-light) 2px;
    margin-bottom: 3em;
}

.interview-option{
    list-style-type: none;
    padding: 0.1em 0.5em;
    text-align: center;
    width: 8em;
    margin: 0;
    color: var(--purple-light);
    font-weight: bold;
    font-size: 0.8em;
    position: relative;
    top: 0.39em;
    cursor: pointer;
}

.interview-select{
    border-bottom: solid var(--purple-menu) 2px;
    color: var(--purple-menu);
}

.quests{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.box{
    border: solid var(--purple-light) 1px;
    border-radius: 30px;
    background-color: #fff;
    width: clamp(20em, 92%, 27em);
    height: 25em;
    padding: 1em 2em;
    box-sizing: border-box;
    margin-bottom: 1em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.questbox{
    background: var(--background-screens);
    border: 1px solid var(--purple-light);
    border-radius: 25px;
    width: 8em;
    text-align: center;
    padding: 0.3em;
    color: var(--purple);
    font-size: 0.6em;
    width: 11em;
}

.box h2{
    font-size: 1.2em;
    margin-bottom: 1.5em;
    text-align: justify;
    height: 5em;
}

.candidate-name{
    color: var(--purple);
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid var(--purple-light) 1px;
    background-color: #fff;
    border-radius: 30px;
    padding: 0.8em 0.8em;
    width: 29em;
    position: relative;
    right: 13.5%;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.options li{
    list-style-type: none;
    color: var(--purple-dark);
    font-size: 0.8em;
    width: 8em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20px;
    box-sizing: border-box;
    height: 3em;
}

.options li:hover, 
.option-select-1, 
.option-select-2, 
.option-select-3, 
.option-select-4
{
    background: var(--option);
    border: 1px solid var(--purple-light)
}


.container-textarea{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.textarea{
    border: solid var(--purple-light) 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 100%;
    height: 7em;
    position: relative;
    right: 7.5px;
    padding: 1em;
    box-sizing: border-box;
    z-index: 1;
    overflow: hidden;
}

.textarea::placeholder{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--purple-dark);
}

.textarea:focus{
    z-index: 3;
    outline: none;
    border: solid var(--purple-dark) 2px;
}

.textarea:focus::placeholder {
    color: transparent; /* O placeholder fica invisível quando a textarea entra em foco */
}

.textarea:not(:placeholder-shown) {
    z-index: 3;
}

.textarea_icon{
    width: 15px;
    height: 15px;
    position: relative;
    left: 4em;
    top: 0.1em;
    z-index: 2;
}



/*Página About:*/

.content-about > .box{
    width: 27em;
    padding: 2em;
}
.schedule{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em;
    margin-top: 1em;
    border: solid var(--purple-light) 1px;
    border-radius: 20px;
    box-sizing: border-box;
    background: var(--background-screens);
}
.schedule-box span, .date-box span{
    color: var(--purple-p);
    font-size: 0.9em;
    font-weight: 500;
}

.interviewed span, .interviewer span{
    font-weight: bold;
    color: var(--purple-p);
    font-size: 0.9em;
}

.calendar-box, .date-box{
    display: flex;
    flex-direction: row;
}
.date-box{
    display: flex;
    flex-direction: column;
}
.calendar-box, .schedule-box{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.schedule-icon{
    width: 25px;
    height: 25px;
}
.about-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5em;
}

.interviewed, .interviewer{
    margin-top: 2em;
}

.interview-profile{
    width: 20em;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 0.8em;
}

.interview-profile span{
    color: var(--purple-dark);
}

.icon-user-candidate{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid var(--purple-dark);
}

.presence{
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    gap: 2em;
}

.presence p{
    font-weight: 400;
}

.presence button{
    padding: 0;
    border: none;
    background: none;
    color: gray;
    font-weight: 400;
    font-size: 1em;
}
.presence-button-active, .presence button:hover{
    color: var(--purple) !important;
    font-weight: bold !important;
}
.edit_icon{
    width: 15px;
    height: 15px;
}




/*Página Result:*/

.content-result{
    display: flex;
    width: clamp(47em, 95%, 80em);
    justify-content: space-between;
}
.content-result > .box{
    width: 27em;
    padding: 2em;
    background-color: var(--gray-background);
    border: none;
}
.box h4{
    font-size: 1.3em;
    color: var(--purple-dark);
}

.graphic{
    border: solid black 1px !important;
    background-color: var(--background-screens) !important;
    box-shadow: none;
}
.result{
    display: flex;
    flex-direction: row;
}
.result p{
   font-size: 0.8em;
   color: var(--purple-dark);
   font-weight: 400;
}
.points-ball{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
}
.points-ball p{
    margin-left: 0.5em;
}
.ball-icon{
    width: 10px;
    height: 10px;
}
.row{
    border-bottom: solid var(--purple-light) 1px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.rank h4 {
    color: var(--purple-result);
    margin-bottom: 0.5em;
}
.rank h3{
    font-size: 2.5em;
    color: var(--purple-result);
    margin: 0;
}

/*
visualização manual dos elementos

.content-application{
    display: none;
}
.content-about{
    display: none;
}
.content-result{
    display: none;
}

*/

.content-about{
    display: none;
}
.content-result{
    display: none;
}



@media (min-width: 1024px){
    .menu-interview{
        font-size: 1.1em;
        width: 25em;
    }
    .box{
        font-size: 1.2em;
    }
    .textarea{
        height: 9em;
    }
    .textarea_icon{
        left: 5em;
    }
    .step-click{
        width: 25px;
        height: 60px;
        margin-top: 0.5em;
    }
    .steps p, .obs p{
        font-size: 1em;
    }
    .icon-user-candidate{
        width: 50px;
        height: 50px;
    }
    .edit_icon{
        width: 20px;
        height: 20px;
    }
    
}

@media (min-width: 1440px){
    .obs, .steps{
        font-size: 0.9em;
        bottom: 4em;
    }
    .menu-interview{
        font-size: 1.2em;
    }
    .box{
        font-size: 1.3em;
    }
    .textarea_icon{
        left: 6em;
    }
    .step-click{
        margin-top: 0.5em;
        width: 40px;
        height: 70px;
    }
}