body{
    background-image: none;
    background-color: var(--background-screens);
}

header{
    justify-content: center !important;
}
main{
    display: flex;
    align-items: center;
    border: solid red 1px;
}

.content{
    border: solid blue 1px;
    display: flex;
    flex-direction: row;
    width: clamp(47em, 95%, 80em);
    justify-content: space-between;
    gap: clamp(1em, 2em, 5em);
}

.obs, .steps{
    border-radius: 10px;
    padding: 3em;
    margin-top: 3em;
    width: clamp(17em, 120em, 25em);
    height: 100%;
    box-sizing: border-box;
}

.obs p, .steps p{
    margin-bottom: 2em;
}

.obs{
    background-color: var(--gray-background);
    font-size: 0.6em;
}

.steps{
    font-size: 0.6em;
}

.obs h1, .obs h3, .steps h1, .steps h3{
    color: var(--purple-menu);
    font-weight: bold;
}

.obs p{
    color: var(--purple-p);
    font-weight: 500;
}

.interview{
    border: solid green 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(20em, 60%, 45em);
}
.menu-interview{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 0.2em;
    margin: 0;
    border-bottom: solid var(--purple-light) 2px;
    margin-bottom: 3em;
}

.interview-option{
    list-style-type: none;
    padding: 0.1em 0.5em;
    text-align: center;
    width: 8em;
    margin: 0;
    color: var(--purple-light);
    font-weight: bold;
    font-size: 0.8em;
    position: relative;
    top: 0.39em;
}

.interview-select{
    border-bottom: solid var(--purple-menu) 2px;
    color: var(--purple-menu);
}

.quests{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.quest{
    border: solid var(--purple-light) 1px;
    border-radius: 30px;
    background-color: #fff;
    width: clamp(20em, 92%, 27em);
    height: 25em;
    padding: 1em;
}

@media (min-width: 1440px){
    .obs, .steps{
        font-size: 0.8em;
    }
    .menu-interview{
        font-size: 1.2em;
    }
}