#about {
  display: flex;

  justify-content: center;

  margin-top: 6rem;
}

#about #about-content {
  background-color: #ffffff;

  width: 60rem;
  padding: 4rem;

  border-radius: 2.4rem;

  max-height: fit-content;
}

#about #about-content h3 {
  color: var(--indigo-600);
  font-weight: 500;
  font-size: 1.4rem;
}

#about #about-content header {
  background-color: var(--background-screens);
  border: 1px solid var(--purple-300);

  display: flex;
  justify-content: space-between;

  height: 7rem;
  padding: 2.5rem;

  border-radius: 1.6rem;
}

#about #about-content header > span {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

#about #about-content header img {
  width: 24px;
  height: 24px;
}

#about #about-content #participants {
  font-size: 1.8rem;
  margin-top: 4rem;

  display: flex;
  flex-direction: column;

  gap: 3rem;
}

#about #about-content .participant {
  margin-top: 2rem;

  display: flex;

  justify-content: space-between;
  align-items: center;
}

#about #about-content .profile a {
  border: 2px solid var(--indigo-700);

  width: 40px;
  height: 40px;
}

#about #about-content .profile .name-user {
  margin-left: 1rem;

  color: var(--indigo-700);
  font-weight: 700;

  max-width: none;
}

#presence-checkbox {
  display: none;
}

#about #about-content #candidate #presence {
  display: flex;
  align-items: center;

  gap: 4rem;
}

#about #about-content #candidate #presence span {
  color: #808080;
  font-size: 1.4rem;

  max-width: 9rem;
}

#about #about-content #candidate #presence > span {
  font-weight: 500;
}

#about #about-content #candidate #presence label span {
  font-weight: 400;
}

#about #about-content #candidate #presence label span[active] {
  color: var(--purple-400);
  font-weight: 700;
}

#about #about-content #candidate #presence label > span + span {
  margin-left: 1rem;
}
