:root {
  --cursor-pointer: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="60" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%234623A7" stroke-width="2" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>')
      0 20,
    pointer;
  --cursor-default: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24"><path fill="%23FFF" stroke="%234623A7" stroke-width="2" d="M5.5 3.21V20.8c0 .45.54.67.85.35l4.86-4.86a.5.5 0 0 1 .35-.15h6.87a.5.5 0 0 0 .35-.85L6.35 2.85a.5.5 0 0 0-.85.35Z"></path></svg>')
      0 0,
    auto;
  cursor: var(--cursor-default);

  /*tons de roxos:*/
  --purple-white: #f7f4ff;
  --purple-light: #bba6f8;

  --purple-100: #eff2ff;
  --purple-200: #bba6f8;
  --purple-300: #7046e9;
  --purple-400: #4623a7;

  --indigo-100: #d9d9d9;
  --indigo-200: #a6b5f6;
  --indigo-400: #bba6f826;
  --indigo-600: #8170b4;
  --indigo-700: #4a387b;

  /*tons de input:*/
  --background-input: #fbfbfc73;
  --background-input-filled: #dde4ff73;

  /*outros:*/
  --gray: #656565;
  --gray-light: #cdcdcd;
  --background-screens: #f9f8ff;
  --gray-background: #eeebf8;
  --option: #eeecf6;
  --nav-hover: #c5b7ec;

  font-size: 62.5%;
  /* 1rem = 10px */
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('/src/assets/fonts/SpaceGrotesk.woff2') format('woff2');
  font-weight: 100 900;
  font-size: normal;
}

@font-face {
  font-family: 'Space Mono';
  src: url('/src/assets/fonts/SpaceMono-Regular.ttf') format('truetype');
  font-size: normal;
}

* {
  margin: 0;
  padding: 0;

  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.6rem;

  list-style: none;
  text-decoration: none;

  box-sizing: border-box;
}

html {
  overflow-x: clip;
}

html,
body {
  min-width: 320px;
  max-width: 100%;
}

body {
  min-height: 100vh;
  height: auto;
  overflow-x: clip;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

h2 {
  font-size: 2.8rem;
}

button,
a {
  cursor: var(--cursor-pointer);
}
