*{
    padding: 0;
    margin: 0;
}

body{
    background: url("../assets/images/background.svg") no-repeat left fixed;
    background-size: cover;
    z-index: -1;
    font-family: "Space Mono" , serif;
    font-weight: 400;
}

section{
    color: white;
    margin: 10%;
    text-align: center;
}

.top{
    color: white;
    display: flex;
    align-items: center;
    margin-top: 5%;
    width: 100%;


    .back-link{
        display: flex;
        align-items: center;
        padding: 10px;
        margin-left: 10%;
        cursor: pointer;

        img{
            width: 30px;
        }

        label{
            cursor: pointer;
        }
    }

    .ps{
        margin-left: 7%;
        display: flex;
        justify-content: space-between;
        border: solid white 1px;
        border-radius: 30px;
        width: 50vw;
        height: 6vh;

        .ps-right-side{
            display: flex;
            align-items: center;
            padding: 10px;
        }

        .logo-lawd{
            width: 30px;
            height: 25px;
            padding: 10px;
        }

        .lawd{
            width: 70px;
            height: 15px;
        }

        p{
            height: 20px;
            padding: 10px;
            padding-left: 15px;
        }
    }
}

.main-title{
    font-size: 70px;
}

.label-main-title{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer{
    margin: 10%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;

    .points{
        p{
            height: 15px;
        }
    }
}

.safeguard-warning{
    display: flex;
    margin-left: 75%;
    width: 200px;
    text-align: start;
}

.safeguard-warning-2 , .safeguard-warning-3 {
    display: flex;
    width: 200px;
    text-align:start ;
}

.year{
    font-size: 40px;
    width: 150px;
    border-radius: 15px;
    background-color: #9F54DB;

    p{
        padding: 10px;
    }
}

.subscribe{

    display: flex;
    align-items: center;

    button{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 200px;
        margin: 10px;
        color: #6741D2;
        height: 70px;
        padding: 10px;
        font-size: 20px;
        font-weight: 700;
        border-radius: 30px;
        border: none;
    }

    button:hover{
        background-color: #9F54DB;
        color: white;
        transition: 0.5s;

        svg{
            animation: moveArrow 2s infinite ease-in-out;
        }
    }
}

@keyframes moveArrow {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px); 
    }
    100% {
      transform: translateX(0);
    }
  }

  @media (max-width:2561px) {
    
    .top{
        font-size: 40px;

        .back-link{
            img{
                width: 60px;
            }
        }
        .ps{
            width: 59vw;
            height: 2em;

            .ps-right-side{
                .logo-lawd{
                    width: 2em;
                    height: 1.3em;
                }

                .lawd{
                    width: 3em;
                    height: 0.8em;
                }
            }
        }
    }

  }

  @media (max-width:1025px) and (max-height:1400px) {

    .top{
        display: grid;

        .ps{
            margin: auto;
            margin-top: 20px;
            text-align: center;
            width: 70%;
            height: 2.8em;

            .ps-right-side{
                padding: 10px;
            }
        }

        .back-link{
            margin-left: 2%;
        }
    }

    .safeguard-warning{
        width: 135px;
        font-size: 20px;
    }
   

    .main-title{
        width: 80vw;
        margin: auto;
        font-size: 80px;
        text-align: center;
    }

    .label-main-title{
        align-items: center;
        gap: 30px;
        justify-content: space-between;
        width: 80vw;

        .safeguard-warning-2{
            width: 135px;
            font-size: 20px;
        }
        
    
    }
    .year{
        font-size: 50px;
    }

    .footer{
        margin-top: 30%;
        
        .points{
            width: 100vw;
        }

        .safeguard-warning-3{
            font-size: 20px;
        }
    }

    

  }

  @media (max-width:769px) and (max-height:1279px) {

    body{
        height: 100%;
    }

    .top{
        display: grid;

        .ps{
            margin: auto;
            margin-top: 20px;
            text-align: center;
            width: 90%;
            height: 2.8em;

            .ps-right-side{
                padding: 10px;
            }
        }

        .back-link{
            margin-left: 0;
        }
    }

    .safeguard-warning{
        width: 300px;
        display: none;
        justify-content: end;
        
        p{
            width: 150px;
        }
    }

    .main-title{
        width: 80vw;
        margin: auto;
        margin-top: 30%;
        text-align: center;
        font-size: 57px;
    }

    .label-main-title{
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        justify-content: center;
        width: 80vw;
        font-size: 40px;

        .safeguard-warning-2{
            display: none;
        }

       
    }

    .footer{
        margin-top: 40%;

        .points{
            font-size: 10px;
            margin: 0;
            padding: 0;
            width: 100vw;
        }

        .safeguard-warning-3{
            font-size: 15px;
        }
    }
  }

  @media (min-width:426px) and (max-width:500px) {

    .main-title{
        font-size: 47px;
    }

  }

  @media (max-width:426px) and (max-height:1013px) {

    .top{
        display: grid;

        .ps{
            margin: auto;
            margin-top: 20px;
            text-align: center;
            width: 90%;
            height: 2.8em;

            .ps-right-side{
                padding: 10px;
            }
        }

        .back-link{
            margin-left: 0;
        }
    }

    .safeguard-warning{
        width: 300px;
        display: none;
        justify-content: end;
        
        p{
            width: 150px;
        }
    }

    .main-title{
        width: 80vw;
        margin: auto;
        margin-top: 30%;
        text-align: center;
        font-size: 47px;
    }

    .label-main-title{
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        justify-content: center;
        width: 80vw;

        .safeguard-warning-2{
            display: none;
        }
        
    }

    .footer{
        margin-top: 40%;

        .points{
            font-size: 10px;
            margin: 0;
            padding: 0;
            width: 100vw;
        }

        .safeguard-warning-3{
            font-size: 12px;
        }
    }

    @media (min-width:376px) and (max-width:420px) {

        .main-title{
            font-size: 43px;
        }
    
      }

  }



  @media (max-width:376px) {

    .top{
        display: grid;

        .ps{
            margin: auto;
            margin-top: 20px;
            text-align: center;
            width: 90%;
            height: fit-content;
        }

        .back-link{
            margin-left: 0;
        }

    }

    .safeguard-warning{
        width: 300px;
        display: none;
        justify-content: end;
        
        p{
            width: 150px;
        }
    }

    .main-title{
        width: 80vw;
        margin: auto;
        margin-top: 30%;
        text-align: center;
        font-size: 2.3em;
    
    }

    .label-main-title{
        flex-direction: column-reverse;
        align-items: center;
        gap: 30px;
        justify-content: center;
        width: 80vw;

        .safeguard-warning-2{
            display: none;
        }

        .year{
            font-size: 30px;
            width: fit-content;
        }

        .subscribe-arrow{
            font-size: 20px;
            width: 8em;
            height: 3em;
        }
        
    }

    .footer{
        margin-top: 40%;

        .points{
            font-size: 8px;
            margin: 0;
            padding: 0;
            width: 100vw;
        }

        .safeguard-warning-3{
            font-size: 12px;
        }
    }

    @media (min-width:370px) and (max-width:376px) {
        
        .ps{
            .ps-right-side{
                height: 20px;
            }
        }
    }
  }