.header {
  background: var(--indigo-700);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 9999px;

  padding-block: 1rem;
  padding-inline: 1.5rem;

  min-width: fit-content;
}

.header .icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}

.header .icons img:nth-child(1) {
  width: 3em;
}

.header .icons img:nth-child(2) {
  width: 6em;
}

.header .profile {
  border: 1px solid white;
  background: var(--indigo-600);

  padding: 0.8rem;

  border-radius: 9999px;
}

.header .profile .name-user {
  color: #fff;
}

.header nav {
  display: flex;

  align-items: center;

  font-size: 1.6rem;
}

.header nav ul {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  gap: 1.8rem;
}

.header nav ul li a {
  color: white;
}
