#error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 4.2rem;
}

#error img {
  max-width: 38rem;
}

#error h3 {
  max-width: 35rem;
}

h2 {
  color: var(--purple-400);
}

label {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: var(--cursor-default);

  height: 100%;

  font-weight: 500;
  color: var(--purple-400);
}

input {
  font-weight: 300;
  font-size: 1.4rem;
  cursor: var(--cursor-default);

  padding: 0 1.6rem;
  box-sizing: content-box;

  background-color: var(--background-input);
  color: var(--gray);
  height: 3rem;
  margin-top: 0.75rem;
  border-radius: 1.28rem;
  border: solid var(--purple-white) 0.16rem;
  resize: none;
  text-overflow: ellipsis;
}

label.error {
  color: red;

  animation: shake 0.5s;
}

label.error input {
  border: 1px solid red;
}

@media only screen and (max-width: 426px) {
  #error {
    gap: 2.5rem;
  }

  #error img {
    max-width: 25rem;
  }

  #error h1 {
    font-size: 2.5rem;
  }

  #error h3 {
    max-width: 25rem;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
