body {
  font-family: 'Space Grotesk';
  background-color: var(--background-screens);
  overflow-y: hidden;
}

.schedules-page {
  width: 100%;
  min-height: 100vh;

  color: var(--indigo-700);
}

.schedules-page > div {
  min-width: 80rem;
  width: 70vw;
  height: 100%;
  margin: 0 auto;
}

.schedules-header {
  background-color: var(--purple-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  border-radius: 10px 10px 0px 0px;
}

.schedules-header .filters {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.schedules-header button {
  background: none;
  display: flex;
  color: var(--indigo-700);
  justify-self: center;
  align-items: center;
  width: fit-content;
  text-align: center;

  border: 1.2px solid rgba(92, 0, 164, 0.11);
  border-radius: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-weight: 350;
  cursor: var(--cursor-pointer);
  transition: all 0.2s ease;
}

.schedules-header button.active {
  background: var(--purple-200);
  border-color: var(--indigo-700);
  font-weight: 500;
}

.filter-button img {
  width: 1.5rem;
  height: 1.5rem;

  margin-right: 0.5rem;
}

.schedules-content {
  margin: 2rem auto;

  background-color: white;
  max-height: 70vh;
  overflow-y: auto;
}

table {
  width: 100%;

  border-collapse: collapse;
}

table thead th {
  padding: 1.6rem;
  position: sticky;
  top: 0;
  background-color: white;

  border-bottom: 1px solid var(--purple-light);
}

table tbody {
  background: white;
}

table tbody td {
  padding: 1rem;
}

table tbody tr:hover {
  background-color: var(--purple-100);
}

table tbody tr .time {
  justify-content: unset;
  margin-left: 2rem;
  margin-right: auto;
}

.status.completed span {
  background: #00fb00;
  color: #008b00;
}

.status.pending span {
  background: #ffd700;
  color: #8b7900;
}

.mode span,
.status span {
  display: block;
  margin: 0 auto;
  width: fit-content;
  padding: 0.5rem 1rem;

  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 500;
}

.mode span {
  background: var(--purple-200);
  color: var(--indigo-700);
}

.participants {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.no-candidate span {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.time svg {
  color: var(--indigo-700);
}

td .profile a {
  width: 3rem;
  height: 3rem;
}

td .profile .name-user {
  font-size: 1.6rem;
}
