body{
    background-image: url(images/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Space Grotesk;
}

header{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 1em;
}
button{
    font-family: Space Grotesk;
    padding: 0.5em 1em;
    background-color: #BBA6F8;
    border: #7046E9 solid 1px;
    border-radius: 5em;
    font-weight: 500;
    color: #4623A7;
    transition: background-color 0.3s, transform 0.2s;
    
}
button:hover{
    background-color: #7046E9;
    color: #BBA6F8;
}

button:active{
    transform: scale(0.95);
}

.icons{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.img-lawd{
    width: 7em;
    height: auto;
}
.img-icon{
    width: 2em;
    height: auto;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main h1{
    color: #fff;
    font-weight: 400;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    margin-top: 0.5em;
}

form input {
    border: solid #dfd7f4 2px;
    background-color: #eff2ff;
    color: #656565;
    padding: 0.2em 1em;
    border-radius: 10px;
    font-family: Space Grotesk;
}

form input:focus{
    border-color: #4623A7;
    outline: none;
}
p{
    color: #656565;
    font-weight: 300;
    width: 100%;
}

.loginScreen{
    background-image: url(images/background-LoginScreen.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
    color: #4623A7;
    font-weight: 500;
    border-radius: 0 20px 0px 20px;
    box-sizing: border-box;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
}

.password{
    font-size: 0.7em;
    text-align: right;
    font-weight: 400;
    text-decoration: underline;
    color: #4623A7;
}

.loginScreen-othersWays{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.loginLink{
    border: solid #CDCDCD 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
    height: 2em;
    padding: 0em 1.3em;;
}

.loginLink p{
    color: #111111;
    font-weight: bold;
    font-size: 0.7em;
}

.icon-login{
    width: 1em;
    height: 1em;  
}

.loginButton{
    width: 100%;
    background-color: #7046E9;
    color: #fff;
    border: solid 2px #e6dffb;
    
}
    
button:hover{
    background-color: #4623A7;
    color: #e6dffb;
}

@media (min-width: 320px){
    .loginScreen{
        width: 289.5px;
        height: 314.17px;
    }
}
@media (min-width: 375px){
}
@media (min-width: 425px){
    .loginScreen{
        width: 329.5px;
        height: 354.17px;
    }
}
@media (min-width: 768px){
    header{
        padding: 0em 2em;
        font-size: 1.3em;
    }
}
@media (min-width: 1024px){
    header{
        padding: 0em 4.5em;
    }
}
@media (min-width: 1440px){
    header{
        padding: 0em 7em;
        font-size: 1.5em;
    }
    button{
        font-size: 0.7em;
    }
    .loginScreen{
        width: 479.5px;
        height: 504.17px;
        font-size: 1.1em;
    }
    form input{
        padding: 0.5em 1.1em;
        font-size: 0.9em;
    }
    .loginLink{
        padding: 0.2em 2.5em;
    }
    .loginButton{
        font-size: 1em;
    }

}
@media (min-width: 2560px){

    header{
        padding: 0em 7em;
        font-size: 2.5em;
    }
    button{
        font-size: 0.7em;
    }
    main h1{
        font-size: 4em;
    }
    .loginScreen{
        width: 779.5px;
        height: 804.17px;
        font-size: 1.9em;
    }
}